<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156012573455-2spmb8hc434u2vggpl16ut1p3jdt8bdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156012573455-2spmb8hc434u2vggpl16ut1p3jdt8bdm</string>
	<key>API_KEY</key>
	<string>AIzaSyBP8WQdLHaI8S7eypFj9v-hIWhBiw9L9_I</string>
	<key>GCM_SENDER_ID</key>
	<string>156012573455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workersScheduler</string>
	<key>PROJECT_ID</key>
	<string>workersscheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>workersscheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156012573455:ios:f36ecb31b065c36795c47a</string>
</dict>
</plist>